.App {
  text-align: center;
  background-image: linear-gradient(gray, aqua);
  max-width: 100%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
h1 {
  margin: 0 0;
  padding: 0.5rem;
  font-family: 'Odibee Sans', cursive;
}
.title {
  font-size: 3rem;
  font-family: 'MuseoModerno', cursive;
  padding-top: 0;
}